.footer {
  background-color: var(--color-bg-secondary);
  padding: var(--offset-primary);
  color: var(--color-text-light);

  position: relative;
  height: calc(var(--space-20) * 1.5);

  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

@media (width >= 1200px) {
  .footer {
    height: var(--space-20);
  }
}

.content {
  position: fixed;
  bottom: 0;
  height: calc(var(--space-20) * 1.5);

  width: calc(100% - var(--offset-primary) * 2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-end;

  padding-block: var(--offset-primary);
}

@media (width >= 1200px) {
  .content {
    height: var(--space-20);
  }
}

.container_dots {
  display: flex;
  justify-content: space-between;
  padding-block-end: var(--offset-primary);
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: var(--space-2);
}

@media (width >= 768px) {
  .info {
    flex-direction: row;
    flex: 0;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  flex: 1;
  column-gap: var(--space-12);
}

@media (width >= 768px) {
  .top {
    justify-content: normal;
  }
}

.title {
  color: var(--color-text-gray);
  margin-block-end: var(--space-2);
}

.container_development {
  .title {
    text-align: end;
  }
}

@media (width >= 768px) {
  .container_development {
    .title {
      text-align: start;
    }
  }
}

.text {
  flex: 0 1;
  color: var(--color-text-gray);
}

@media (width >= 768px) {
  .text {
    flex: 1 1;
  }
}
