.section {
  background-color: var(--color-bg-accent);
  padding-inline: var(--offset-primary);
  padding-block: var(--offset-sections);

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  isolation: isolate;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
    filter: contrast(200%) brightness(100%);
    pointer-events: none;
    z-index: -1;

    opacity: 1;
    mix-blend-mode: color-burn;
  }
}

/**
 * mix-blend-mode: normal;
mix-blend-mode: multiply;
mix-blend-mode: screen;
mix-blend-mode: overlay;
mix-blend-mode: darken;
mix-blend-mode: lighten;
mix-blend-mode: color-dodge;
mix-blend-mode: color-burn;
mix-blend-mode: hard-light;
mix-blend-mode: soft-light;
mix-blend-mode: difference;
mix-blend-mode: exclusion;
mix-blend-mode: hue;
mix-blend-mode: saturation;
mix-blend-mode: color;
mix-blend-mode: luminosity;
mix-blend-mode: plus-darker;
mix-blend-mode: plus-lighter;
 */

.container_icon {
  display: inline-block;
  height: var(--space-12);

  margin-block-end: var(--space-13);
}

@media (width >= 1200px) {
  .container_icon {
    height: var(--space-14);
  }
}

.title {
  color: var(--color-text-light);
  text-align: center;
  margin-block-end: var(--space-6);
  max-width: 15ch;
}

@media (width >= 500px) {
  .title {
    max-width: none;
  }
}

.text {
  color: var(--color-text-light);
  text-align: center;
  margin-block-end: var(--space-13);
}

.bottom {
  max-width: 55ch;
}

.container_btn {
  padding-inline: var(--space-0);
}

@media (width >= 768px) {
  .container_btn {
    padding-inline: var(--space-4);
  }
}
