.section {
  margin-block-end: var(--space-0);
  position: relative;
  padding-block-start: var(--space-0);
}

@media (width >= 768px) {
  .section {
    margin-block-end: var(--offset-primary);
  }
}

@media (width >= 1200px) {
  .section {
    padding-block-start: var(--offset-sections);
  }
}

.top {
  padding-inline: var(--offset-primary);
}

.container_title {
  /* Viewport: 320 - 1920 */
  margin-block-end: clamp(3rem, 2.1rem + 4.5vw, 7.5rem); /* 48 - 120 */
}

.list_text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  margin-block-end: var(--space-10);
}

@media (width >= 768px) {
  .list_text {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
  }
}

@media (width >= 1200px) {
  .list_text {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content;
  }
}
