.item {
  padding-block: var(--offset-primary);
  border-top: var(--space-px) solid var(--color-gray-200);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--color-text-light);
}

.text {
  color: var(--color-text-gray);
}

.container_text {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-2);
}
