.section {
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: var(--offset-primary);

  padding-block-start: var(--header-height);
}

/* ================================================== */
/* */
/* title */
.container_title {
  padding-block-start: var(--offset-primary);
  padding-inline: var(--offset-primary);
}

.title {
  text-align: center;
  max-width: 15ch;
  margin-inline: auto;
}

.img_title {
  /* Viewport: 320 - 1920 */
  height: clamp(1.625rem, 1.05rem + 2.875vw, 4.5rem); /* 26 - 72 */
  width: auto;
  position: relative;
  bottom: 0.13em;
  margin-inline: var(--img-title-margin);
}

/* ================================================== */
/* */
/* sequence */
.container_sequence {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  column-gap: 8vmin;
}

/* ================================================== */
/* */
/* bottom */
.container_bottom {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--offset-primary);
  padding-block-end: var(--offset-primary);
}

.description {
  display: none;
}

@media (width >= 1200px) {
  .description {
    display: initial;
  }
}

.container_info {
  display: flex;
  flex-direction: column;
  row-gap: var(--offset-primary);

  & p {
    text-align: center;
  }
}
