.section {
  min-height: 100dvh;
  padding: var(--offset-primary);
}

.title {
  text-align: center;
  max-width: 15ch;
  margin-inline: auto;
}

.img_title {
  /* Viewport: 320 - 1920 */
  height: clamp(1.625rem, 1.05rem + 2.875vw, 4.5rem); /* 26 - 72 */
  width: auto;
  position: relative;
  bottom: 0.13em;
  margin-inline: var(--img-title-margin);
}

.description {
  display: none;
}

@media (width >= 1200px) {
  .description {
    display: initial;
  }
}

.container_bottom {
  display: flex;
  justify-content: space-between;
}

.container_info {
  display: flex;
  flex-direction: column;
  row-gap: var(--offset-primary);

  & p {
    text-align: center;
  }
}
