.section {
  height: 100svh;
  width: 100%;
  background-color: var(--color-gray-0);

  overflow: hidden;

  /* position: relative; */
  position: sticky;
  top: 0;
}

.video {
  width: 100svw;
  height: 100%;
}

.img {
  position: absolute;
  top: 0;
  left: 0;

  height: 110%;
  width: 100dvw;
  object-fit: cover;
  pointer-events: none;
}

.container_dots {
  position: absolute;
  top: var(--offset-primary);
  left: var(--offset-primary);
  right: var(--offset-primary);
  height: fit-content;

  display: flex;
  justify-content: space-between;
}

.info {
  position: absolute;
  bottom: var(--offset-primary);
  left: var(--offset-primary);
  right: var(--offset-primary);
  height: fit-content;

  display: flex;
  align-items: center;
  justify-content: space-between;

  pointer-events: none;
}

.container_logo {
  display: flex;
  column-gap: var(--space-1);
  height: var(--space-8);

  & svg {
    width: auto;
  }
}

@media (width >= 1200px) {
  .container_logo {
    column-gap: var(--space-2);
    height: var(--space-10);
  }
}

.time {
  color: var(--color-text-light);
}

.time_divider {
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
