/* ================================================== */
/* */
/* BASE */
body {
  min-height: 100dvh;
  background-color: var(--color-bg-primary);
  overflow-x: hidden;

  color: var(--color-text-dark);
  font-family: var(--font);
}

/* ================================================== */
/* */
/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: var(--space-2);
}

@media (width >= 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (width >= 1200px) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

/* ================================================== */
/* */
/* APPEARANCE */
::selection {
}
