.title {
  color: var(--color-text-light);
  text-align: center;
  margin-block-end: var(--space-6);
  max-width: 15ch;

  & div {
    margin-inline: auto;
  }
}

@media (width >= 500px) {
  .title {
    max-width: none;
  }
}
