.section {
  grid-template-rows: repeat(3, min-content);
  border-bottom: none;
  margin-inline: var(--offset-primary);
}

@media (width >= 1200px) {
  .section {
    grid-template-rows: min-content;
    border-bottom: var(--space-px) solid var(--color-gray-900);
  }
}

.content_left {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding-block-end: var(--offset-sections);
}

@media (width >= 1200px) {
  .content_left {
    grid-column: 1 / 5;
    grid-row: 2 / -1;
    padding-block-end: var(--offset-primary);
  }
}

.content_right {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  padding-block-end: var(--offset-sections-large);
  padding-inline-start: var(--space-0);
  border-left: none;
}

@media (width >= 1200px) {
  .content_right {
    grid-column: 7 / -1;
    grid-row: 2 / -1;
    padding-block-end: calc(var(--offset-primary) - var(--space-2));
    padding-inline-start: var(--offset-primary);
    border-left: var(--space-px) solid var(--color-gray-900);
  }
}

.container_tag {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.title {
  text-align: left;
  max-width: 15ch;

  /* Viewport: 320 - 1920 */
  margin-block-end: clamp(3rem, 2.1rem + 4.5vw, 7.5rem); /* 48 - 120 */
}

.img_title {
  /* Viewport: 320 - 1920 */
  height: clamp(1.625rem, 6.3vmin, 4.5rem);
  width: auto;
  position: relative;
  bottom: 0.13em;
}

@media (width >= 1200px) {
  .img_title {
    height: clamp(2.9rem, 6.5vmin, 4.5rem);
  }
}

.list_text {
  margin-block-end: var(--space-10);
}

.container_img {
  height: var(--space-20);
  width: 100%;
  overflow: hidden;
  border-radius: var(--border-radius-primary);
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  object-fit: cover;
}

@media (width >= 768px) {
  .img {
    transform: scale(1);
  }
}

.container_dots_top,
.container_dots_bottom {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: var(--space-4);
  right: var(--space-4);
  z-index: 1;
}

.container_dots_top {
  top: var(--space-4);
}

.container_dots_bottom {
  bottom: var(--space-4);
}
