.section {
  grid-template-rows: repeat(3, min-content);
  border-bottom: none;
  padding-inline: var(--offset-primary);

  background-color: var(--color-bg-primary);

  padding-block-start: var(--offset-sections);
  position: relative;
  z-index: 2;
}

@media (width >= 1200px) {
  .section {
    grid-template-rows: min-content;
    border-bottom: var(--space-px) solid var(--color-gray-900);
  }
}

.content_left {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding-block-end: var(--offset-sections);
}

@media (width >= 1200px) {
  .content_left {
    grid-column: 1 / 5;
    grid-row: 2 / -1;
    padding-block-end: var(--offset-primary);
  }
}

.content_right {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  padding-block-end: var(--offset-sections-large);
  padding-inline-start: var(--space-0);
  border-left: none;
}

@media (width >= 1200px) {
  .content_right {
    grid-column: 7 / -1;
    grid-row: 2 / -1;
    padding-block-end: calc(var(--offset-primary) - var(--space-2));
    padding-inline-start: var(--offset-primary);
    border-left: var(--space-px) solid var(--color-gray-900);
  }
}

.container_tag {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.container_title {
  /* Viewport: 320 - 1920 */
  margin-block-end: clamp(3rem, 2.1rem + 4.5vw, 7.5rem); /* 48 - 120 */
}

.title {
  text-align: left;
  max-width: 15ch;
}

.img_title {
  /* Viewport: 320 - 1920 */
  height: clamp(1.625rem, 6.3vmin, 4.5rem);
  width: auto;
  position: relative;
  bottom: 0.13em;
}

@media (width >= 1200px) {
  .img_title {
    height: clamp(2.9rem, 6.5vmin, 4.5rem);
  }
}
