.item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  padding-block: var(--space-6);
}

.text {
  display: grid;
  grid-template-columns: var(--space-13) 1fr;
  align-items: center;
}

.container_num {
  grid-column: 1 / 2;
  position: relative;
  width: fit-content;
}

.title {
  grid-column: 2 / -1;
  text-align: start;
}

.container_icon {
  aspect-ratio: 1;

  /* Viewport: 320 - 1200 */
  height: clamp(1rem, 0.8182rem + 0.9091vw, 1.5rem); /* 16 - 24 */
  display: flex;
}
