.section {
  background-color: var(--color-bg-accent);
  padding-inline: var(--offset-primary);
  padding-block-start: var(--offset-sections);
  padding-block-end: calc(var(--offset-sections) * 1.4);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_icon {
  display: inline-block;
  height: var(--space-12);

  margin-block-end: var(--space-13);
  animation: rotateRight 4s linear infinite;
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (width >= 1200px) {
  .container_icon {
    height: var(--space-14);
  }
}

.title {
  color: var(--color-text-light);
  text-align: center;
  margin-block-end: var(--space-6);
  max-width: 15ch;
}

@media (width >= 500px) {
  .title {
    max-width: none;
  }
}

.text {
  color: var(--color-text-light);
  text-align: center;
  margin-block-end: var(--space-13);
}

.bottom {
  max-width: 55ch;
}

.container_btn {
  padding-inline: var(--space-0);
  display: flex;
  justify-content: center;
}

@media (width >= 768px) {
  .container_btn {
    padding-inline: var(--space-4);
  }
}
